/*Elements*/
body{
    margin:0;
    font-family: sans-serif;
    cursor: pointer;
}
a{
    text-decoration: none;
    cursor: none;
    color: #000000;
    display: block;
}
/*Classes*/

    /*slideshow*/
        #slideshow{
            
        }
        .slide-img{
            width: 480px;
            height: 320px;
            object-fit:cover;
        }
        .slide{
            width: 100%;
            margin:auto;}
        .init{display: block;}
        .previous, .next {
            cursor: pointer;
            position: absolute;
            top:50%;
            width: auto;
            margin-top: -15rem;
            padding: 1rem;
            color: #ffffff;
            font-weight: bold;
            font-size: 2rem;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        .next{
            position: absolute;
            top:20px;
            color: #000000;
            margin-left: 77rem;
            border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover{
            background-color: #000000aa;
        }
        .slide-caption{
            color: #f2f2f2;
            padding: 8px 12px;
            margin: 0;
            position: relative;
            top: -2.5rem;
            width: max-content;
            max-width: 70%;
            background-color: #555555aa;
            font-family: sans-serif;
            text-align: center;
            z-index: 1;
        }
        .slideshow-dot{
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .active, .slideshow-dot:hover{
            background-color: #717171;
        }
        .fade{
            animation-name: fade; 
            animation-duration: 1.5 s;}

        @keyframes fade{
            from{opacity:.4}
            to{opacity: 1}
        }
    /*Resources*/

        /*Images*/
            .FS-Logo-div{
                width: 45%;
            }
            .FS-Logo{
                max-height: 10rem;
                
            }
            .sample{
                width:37rem;
                border-radius: 5rem;
                padding:0.5rem;
            }

    /*Text*/
            
        p{
            font-family: sans-serif;
            font-size:x-large;
            margin-left: 2.5rem;}
        h1{
            font-family:sans-serif;
            font-size: 2.5rem;
            text-align: end;
            margin: 0;
            color: rgb(196, 226, 255);}
        h2{
            font-family: sans-serif;
            font-size: xx-large;
            color: rgb(3, 120, 230);
            margin-left: 2.5rem;}
        .contact-text{
            font-size: medium;
            text-align: end;
        }
/*ID*/
    /*layout*/
        #console{
            position: fixed;
            z-index: 10;
            bottom: 0;
            background-color: white;
            width: 100%;
            height: 1rem;
            font-family: monospace;
        }
	#top-zone{
		position: fixed;
		width: 100vw;
		height:32px;
		background-image: url("../resources/bitmaps/bad-gradient.png");
		z-index:10;
	}
	#touch-zones{
		position: fixed;
		z-index:9;
		width:100vw;
		height:100vh;
		display:flex;
		background-color: #01010177;
	}
	#touch-left{
		width:50%;
		background-color:#FF010177;
	}
	#touch-right{
		width:50%;
		background-color:#0101FF77;
	}